.comp-form-ul li span {
    line-height: 20px;
    display: inline-block;
    font-size: 14px;
}
.comp-form-ul li span img {
    border-radius: 4px;
}
.comp-form-ul {
    margin: -3px;
    display: block;
    font-size: 0;
    line-height: 1;
    text-align: left;
}
.comp-form-ul li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    zoom: 1;
    vertical-align: top;
    font-size: 14px;
    line-height: 1.28571em;
    width: 50%;
    padding: 0 3px;
    margin: 3px 0;
}
.comp-form-ul label {
    display: block;
    margin: 0 0 6px;
}
.comp-modal {
    width: 400px;
    z-index: 1999;
    -webkit-tap-highlight-color: transparent;
    padding: 9px;
    background: #777;
    border-radius: 12px;
    display: block;
    position: absolute;
    left: 35%;
    top: 20%;
}
@media only screen and (min-width: 661px) and (max-width: 1000px) {
    .comp-modal {
        left: 28%;
        top: 15%;
    }
}
@media only screen and (max-width: 660px) {
    .comp-modal {
        left: 20%;
        top: 10%;
    }
}
@media only screen and (max-width: 480px) {
    .comp-modal {
        width: 98%;
        left: 1%;
        top: 10%;
    }
}
.comp-modal-content-wrap {
    position: relative;
    z-index: 6;
    overflow: hidden;
    background: #f5f5f1;
    border-radius: 6px;
}
.comp-modal-title {
    margin: 0;
    background: #e5e5e1;
    -webkit-border-radius: 6px 6px 0 0;
    border-bottom: 1px solid #b0b0b0;
    padding-bottom: 11px;
}
.comp-modal-title h2 {
    margin: 0 20px 0 0;
    font-size: 18px;
    line-height: 1.33333em;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    font-weight: bold;
}
.comp-modal-content,
.comp-modal-title {
    padding: 12px 18px;
}
.comp-user-ul {
    margin: 0;
}
.comp-user-ul > li {
    overflow: hidden;
    display: block;
    border-bottom: 1px solid #ccccc8;
    padding: 10px 5px;
}
.gd-list-item-author.comp-user {
    padding-left: 0;
}
.comp-user-message {
    width: 50%;
    float: left;
}
.comp-user-header {
    overflow: hidden;
    margin-bottom: 10px;
}
.comp-user-header img {
    border-radius: 4px;
}
.comp-user-header em {
    margin-left: 10px;
    font-size: 10px;
    font-style: normal;
}
.comp-loading-icon {
    text-align: center;
    padding: 50px 0;
}